<div class="statistic">
    <h1>Статистика ответов</h1>
    <table>
        <thead>
            <tr>
                <th>Вопрос</th>
                <th>Рейтинг за день</th>
                <th>Рейтинг за месяц</th>
                <th>Рейтинг за год</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                {{!-- <td>{{name}}</td> --}}
                 <td>{{id}} ) {{name}}</td>
                <td>{{rating_for_day}}</td>
                <td>{{rating_for_month}}</td>
                <td>{{rating_for_year}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="statistic__return-button"> </div>
</div>
