<div id="{{this.id}}" class="notification {{this.position}}">
	<img id="message-icon" src={{this.icon}} alt="error-icon" />
	<div id="notification-content">
		<div class="notification-title">
			{{this.title}}
		</div>
		<div id="notification-description">{{this.description}}</div>
	</div>
</div>
