<div id="{{this.id}}" class="notification {{this.open}} {{this.position}}">
	<img id="message-icon" src="assets/error.svg" alt="error-icon" />
	<div id="notification-content">
		<div id="notification-title">
			{{this.title}}
		</div>
		<div id="notification-description">{{this.description}}</div>
	</div>
</div>
