<div id="{{this.id}}" class="notification {{this.position}}">
	<img id="message-icon" src="assets/{{this.icon}}.svg" alt="error-icon" />
	<div id="notification-content">
		<div class="notification-title">
			{{this.title}}
		</div>

		{{#if this.description}}
			<div id="notification-description">{{this.description}}</div>
		{{/if}}
	</div>
</div>
