<div class="food-card" id="food-{{this.id}}">

	<div id="food-image-container">
		<img alt="food-img" src={{this.img_url}} />
	</div>

	<div id="food-content">
		<div id="food-title">
			{{this.name}}
		</div>

		<div id="food-values">
			<div id="price">{{this.price}} ₽</div>
			<div id="weight">{{this.weight}} г</div>
		</div>
	</div>

	<div id="food-action">
	</div>

</div>
