<div class="food-card" id="food-{{this.id}}">

	<div class="food-card__image-container">
		<img alt="food-img" src={{this.img_url}} />
	</div>

	<div class="food-card__content">
		<div class="food-card__title"> {{this.name}} </div>

		<div class="food-card__values">
			<div class="food-card__values--price">{{this.price}} ₽</div>
			<div class="food-card__values--weight">{{this.weight}} г</div>
		</div>
	</div>

	<div class="food-card__action"></div>

</div>
