<div class="coupon" id="{{this.id}}">
	<img class="copied" src="assets/copied.svg" alt="" />
	<img class="copy" src="assets/copy.svg" alt="" />
	<div class="coupon__logo">
        <div class="coupon__num">-{{this.sale}} %</div>
	</div>
	<div class="coupon__content">
        <div class="coupon__code">{{this.code}}</div>
        <div class="coupon__text">{{this.text}}</div>
		<div class="coupon__time">до {{this.date}}</div>
	</div>
</div>