<div id="inputContainer">

  <input id={{this.id}} type={{this.type}} placeholder={{this.placeholder}}>

  {{#if this.button}} 
    <button id="btn" type="button">{{this.button}}</button>    
  {{else if this.isPassword}}
    <button id="btn-eye" type="button">
      <img src="assets/eye-open.svg" alt="eye-open" />
      <img src="assets/eye-close.svg" alt="eye-close" />
    </button>
  {{/if}}

</div>
