<div class="dish-card" id="food-{{this.id}}">
	<div class="dish-card__img">
		<img alt="food-img" src={{this.img_url}} />
	</div>

	<div class="dish-card__content">
		<div class="dish-card__content-block">
			<div class="dish-card__title">
				{{this.name}}
			</div>
			<div class="dish-card__weight">{{this.weight}} г</div>
		</div>

		{{#unless this.counter}}
			<div class="dish-card__price">
				{{this.price}}
				₽
				<div class="dish-card__count">x{{this.count}}</div>
			</div>
		{{/unless}}
	</div>

	{{#if this.counter}}
		<div class="dish-card__counter-block"></div>
		<div class="dish-card__price">{{this.price}} ₽</div>
	{{/if}}
</div>
