<button class="btn {{this.class}}" id={{this.id}} type={{this.type}} {{this.attribute}}>
	{{#if this.icon}}
		<img src="assets/{{this.icon}}.svg" type="icon" alt="icon" />
	{{/if}}

	{{#if this.content}}
		<span>{{this.content}}</span>
	{{/if}}

	{{#if this.loader}}
		<div id="btn-loader"></div>
	{{/if}}
</button>

