<button class="btn {{this.class}}" id={{this.id}} type={{this.type}} {{this.attribute}}>
	{{#if this.icon}}
		<img src={{this.icon}} type="icon" alt="cart" />
	{{/if}}

	{{#if this.content}}
		<span>{{this.content}}</span>
	{{/if}}

	<div id="btn-loader"></div>
</button>
