<div class="pay-form">

	<div class="pay-form__price">
		<div class="pay-form__title">Сумма заказа</div>
		<div class="pay-form__title" id="pay-form-sum">{{#if this.sum}}{{this.sum}}{{else}}0{{/if}} ₽</div>
	</div>

	<div class="pay-form__delivery-info">
		Доставка 30-40 минут
	</div>

	<div class="pay-form__address">
		<div class="pay-form__title">Адрес доставки</div>
		<div class="pay-form__inputs"></div>
	</div>

	<div class="pay-form__methods">
		<div class="pay-form__title">Способ оплаты</div>
		<div class="pay-form__method-dropdown">
			<div class="pay-form__methods-item">
				<img src="/assets/bank-card.svg" alt="spb" />
					Картой при получении
			</div>
		</div>
	</div>

	<div class="pay-form__promo" style="margin-bottom: 20px;"></div>

	{{#if this.new_sum}}
		<div class="pay-form__delivery-info" style="margin: 0 0px 30px 0;">С учетом скидки: {{this.new_sum}} ₽</div>
	{{/if}}
	<div class="pay-form__pay-action">
		<div class="pay-form__sum_info">
			<div>К оплате</div>
			<div class="pay-form__sum">{{#if this.sum}}{{this.sum}}{{else}}0{{/if}} ₽</div>
		</div>

		<div class="pay-form__button">
		</div>
	</div>
</div>
